.btnMargin{
    margin: 5px;
}

.img-div{
    padding: 2px;
}
 
img {
    width: 350px;
    height: 250px;
    overflow: hidden;
}

p{
    text-align: left;
    font-weight: bold;
    font-size: medium;
}
